{
{% if infoblox_view is defined %}"view":"{{infoblox_view}}",{% endif %}
{% if infoblox_comment is defined %}"comment":"{{infoblox_comment}}",{% endif %}
"canonical":"{{infoblox_canonical}}",
"name":"{{infoblox_name}}",
}
